@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Flex:opsz@8..144&family=Share+Tech+Mono&display=swap');
@import "abstracts/variable";
@import "pages/home";
@import "abstracts/mixins";
@import "layouts/category/mainCategory";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

