/*colors*/

$primary-color:blue;
$primary-color-light:#0000;
$primary-color-dark:#cf3b8a;

//background-colors
$background-color-dark:#0000;
$background-color-light:#0000;
$background-color-theme:#0000;


//heading-colors
$primary-heading:white;
$secondary-heading:#0000;
$sub-heading:#0000;



