.header {
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $primary-color;
    color: $primary-heading;

    a {
        height: 2rem;

        img {
            max-height: 100%;
        }
    }



    ul {
        display: flex;
        text-decoration: none;
        flex-direction: row;
        justify-content: center;
        @include displayFlexJustifyAlignCenter;
        list-style-type: none;
        gap: 2rem;
    }
}

@media (max-width: 480px) {
    .btn-containers {
        display: none;
    }

    .btn-containers-mobile {
        display: block;
    }
}

@media (min-width: 481px) {
    .btn-containers {
        display: block;
    }

    .btn-containers-mobile {
        display: none;
    }
}