.container {
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cartBox {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;

    .items {
        display: flex;

    }
}